body {
	font-family: "Trebuchet MS", sans-serif;
	margin: 2px;
	/* overflow-y: hidden; */
}

fieldset {
	padding: 0 0 2px 0;
}

#main_bar img {
	position: absolute;
	padding: 5px;
}

#mlineChart {
	margin: 0px;
}

#tabs-1 {
	margin: 1px auto;
	padding: 0px;
}

.ui-tabs {
	padding: 1px;
}

.ui-tabs .ui-tabs-panel {
	padding: 2px;
}

.ui-progressbar {
	position: relative;
}

.progress-label {
	position: absolute;
	left: 5%;
	top: 8px;
	font-weight: bolder;
	color: lawngreen;
	text-shadow: 1px 1px 0 black;
}

.ui-widget-content {
	resize: vertical;
}